Options -Indexes

RewriteEngine On

RewriteBase /
RewriteCond %{HTTP_HOST} ^dessydaskalov.com [NC]
RewriteRule ^(.*)$ http://www.dessydaskalov.com/$1 [L,R=301]

ErrorDocument 404 http://dessydaskalov.com/404.html
